.animation--fade-in {
  -webkit-animation: animation--fade-in 0.3s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: animation--fade-in 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes animation--fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation--fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation--fade-out {
  -webkit-animation: animation--fade-out 0.3s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: animation--fade-out 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes animation--fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation--fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation--fade-out-top {
  -webkit-animation: animation--fade-out-top 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: animation--fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes animation--fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes animation--fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

.animation--sweet-show {
  -webkit-animation: animation--sweet-show 0.3s;
  -o-animation: animation--sweet-show 0.3s;
  animation: animation--sweet-show 0.3s;
}

@keyframes animation--sweet-show {
  0% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  45% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.animation--sweet-hide {
  -webkit-animation: animation--sweet-hide 0.2s;
  -o-animation: animation--sweet-hide 0.2s;
  animation: animation--sweet-hide 0.2s;
}

@-webkit-keyframes animation--sweet-hide {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.animation--heartbeat {
  -webkit-animation: animation--heartbeat 1.2s ease-in-out infinite both;
  animation: animation--heartbeat 1.2s ease-in-out infinite both;
}

@-webkit-keyframes animation--heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
}
@keyframes animation--heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
}

.animation--bounce-in-top {
  -webkit-animation: animation--bounce-in-top 1.1s both;
  animation: animation--bounce-in-top 1.1s both;
}

@-webkit-keyframes animation--bounce-in-top {
  0% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
    opacity: 0.2;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-165px);
    transform: translateY(-165px);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation--timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
}
@keyframes animation--bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation--timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation--timing-function: ease-in;
    animation--timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation--timing-function: ease-out;
    animation--timing-function: ease-out;
  }
}

.animation--swing-in-top-fwd {
  -webkit-animation: animation--swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: animation--swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes animation--swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes animation--swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
