@import "_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

body {
  width: 100%;
  font-family: "Roboto-Light", sans-serif;
  font-size: $DEFAULT_FONT_SIZE !important;
  background: $mainBackground;
  color: $defaultTextColor;
  min-height: 100vh;
}

pre {
  border: $COMPONENT_BORDER;
  border-radius: $COMPONENT_BORDER_RADIUS;
  padding: $COMPONENT_PADDING;
  margin: $COMPONENT_MARGIN;
  background: $COMPONENT_BACKGROUND_DARKER;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
.h1 {
  font-size: 2em;
}

h2,
.h2 {
  font-size: 1.7em;
}

h3,
.h3 {
  font-size: 1.4em;
}

h4,
.h4 {
  font-size: 1.1em;
}

h5,
.h5 {
  font-size: 0.9em;
}

h6,
.h6 {
  font-size: 0.7em;
}

.track-vertical {
  & > div {
    background-color: $primary !important;
  }
}
