@import "../variables";

.component-checkbox {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: $COMPONENT_BORDER;
  line-height: 24px;
  text-align: center;
  font-size: 20px;
  -webkit-border-radius: $COMPONENT_BORDER_RADIUS;
  -moz-border-radius: $COMPONENT_BORDER_RADIUS;
  border-radius: $COMPONENT_BORDER_RADIUS;
  background: #fff;
  cursor: pointer;
  padding: 0;
  color: darken($color1, 20);
  vertical-align: middle;

  .component-checkbox--is-disabled {
    color: lighten($color1, 20);
    background: lighten($color1, 50);
    cursor: not-allowed;
  }

  .component-checkbox__input {
    display: none;
  }
}
