@import "../variables";

.component-dropdown {
  display: inline-block;
  position: relative;

  & > .component-dropdown__trigger {
    position: relative;
    display: inline-block;
  }

  & > .component-dropdown__dropdown-menu {
    position: relative;

    &.component-dropdown__dropdown-menu--is-open {
      & > .component-dropdown__dropdown-menu__items {
        display: block;
        float: none;
      }
    }

    .component-dropdown__dropdown-menu__items
      > .component-dropdown__dropdown-menu__items__item {
      .component-dropdown__dropdown-menu__items__item__submenu {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .component-dropdown__dropdown-menu__items__item__sub-menu-icon {
        position: absolute;
        right: 0;
        top: 50% !important;
        margin-top: -0.5em;
        margin-right: 0;
      }
    }

    & > .component-dropdown__dropdown-menu__items,
    &
      > .component-dropdown__dropdown-menu__items
      > .component-dropdown__dropdown-menu__items__item
      > .component-dropdown__dropdown-menu__items__item__submenu
      .component-dropdown__dropdown-menu__items {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      margin: 0;
      list-style: none;
      font-size: 13px;
      text-align: left;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
      background-clip: padding-box;
      min-width: 250px;
      padding: 0;
      color: #333;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      & > .component-dropdown__dropdown-menu__items__item {
        position: relative;
        margin-bottom: 1px;

        & > a {
          display: block;
          clear: both;
          font-weight: 400;
          line-height: 1.5384616;
          color: #333;
          white-space: nowrap;
          padding: 6px 15px;
          outline: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          cursor: default;

          &:hover {
            text-decoration: none;
            background-color: #f8f8f8;
          }

          & > span {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        &.component-dropdown__dropdown-menu__items__item--type-header {
          & > a {
            display: block;
            white-space: nowrap;
            padding: 8px 15px;
            font-size: 11px;
            line-height: 1.82;
            color: $default_text_color_DARKEN_X3;
            text-transform: uppercase;

            &:hover {
              background-color: transparent;
            }
          }
        }

        &.component-dropdown__dropdown-menu__items__item--highlighted {
          background-color: $default !important;
          & > a:hover {
            background-color: $default !important;
          }
          color: $default_text_color;
        }

        &.component-dropdown__dropdown-menu__items__item--type-disabled {
          & > a {
            color: $default_text_color_DARKEN_X3;
            cursor: not-allowed;

            &:hover {
              background-color: transparent;
            }
          }
        }

        &.component-dropdown__dropdown-menu__items__item--active {
          & > a,
          & > a:hover {
            color: #fff;
            text-decoration: none;
            outline: 0;
            background-color: $info;
          }
        }

        &:not(.component-dropdown__dropdown-menu__items__item--type-header):not(.component-dropdown__dropdown-menu__items__item--type-disabled) {
          a {
            cursor: pointer;
          }
        }

        svg:not(.component-dropdown__dropdown-menu__items__item__sub-menu-icon) {
          margin-right: 12px;
          float: left;
          top: 0;
          font-size: 16px;
          vertical-align: middle;

          &.pull-right {
            margin-right: 0;
            margin-left: 12px;
          }
        }

        &.component-dropdown__dropdown-menu__items__item--type-divider {
          height: 1px;
          margin: 7px 0;
          overflow: hidden;
          background-color: #e5e5e5;
        }
      }
    }
  }

  &.component-dropdown--size-lg {
    & > .component-dropdown__dropdown-menu {
      .component-dropdown__dropdown-menu__items {
        min-width: 300px;

        .component-dropdown__dropdown-menu__items__item {
          a {
            padding-top: 9px;
            padding-bottom: 9px;
            font-size: 16px;
            line-height: 1.4285715;
          }
        }
      }
    }
  }

  &.component-dropdown--size-sm {
    & > .component-dropdown__dropdown-menu {
      .component-dropdown__dropdown-menu__items {
        min-width: 210px;

        .component-dropdown__dropdown-menu__items__item {
          a {
            padding-top: 4px;
            padding-bottom: 4px;
            font-size: 11px;
            line-height: 1.6666667;
          }
        }
      }
    }
  }

  &.component-dropdown--color-primary {
    & > .component-dropdown__dropdown-menu {
      & > .component-dropdown__dropdown-menu__items {
        background: $primary;
        border-color: $primary_DARKEN_X1;

        & > .component-dropdown__dropdown-menu__items__item {
          a {
            color: $primary_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-header {
            a {
              color: $primary_text_color_DARKEN_X2;
            }
          }

          &.component-dropdown__dropdown-menu__items__item--highlighted {
            background: $primary_DARKEN_X1 !important;
            a:hover {
              background: $primary_DARKEN_X1 !important;
            }
            color: $primary_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-divider {
            background: $primary_DARKEN_X3;
          }

          &.component-dropdown__dropdown-menu__items__item--type-disabled {
            background: $primary_LIGHTEN_X1;
            a {
              color: $primary_text_color_DARKEN_X2;
            }
          }

          &:not(.component-dropdown__dropdown-menu__items__item--type-header):not(.component-dropdown__dropdown-menu__items__item--type-disabled) {
            a:hover {
              background: $primary_DARKEN_X1;
            }
          }
        }
      }
    }
  }

  &.component-dropdown--color-secondary {
    & > .component-dropdown__dropdown-menu {
      & > .component-dropdown__dropdown-menu__items {
        background: $secondary_LIGHTEN_X3;
        border-color: $secondary_DARKEN_X1;

        & > .component-dropdown__dropdown-menu__items__item {
          a {
            color: $secondary_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-header {
            a {
              color: $secondary_text_color_DARKEN_X1;
            }
          }

          &.component-dropdown__dropdown-menu__items__item--highlighted {
            background: $secondary_DARKEN_X1 !important;
            a:hover {
              background: $secondary_DARKEN_X1 !important;
            }
            color: $secondary_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-divider {
            background: $secondary_DARKEN_X3;
          }

          &.component-dropdown__dropdown-menu__items__item--type-disabled {
            background: $secondary_LIGHTEN_X1;
            a {
              color: $secondary_text_color_DARKEN_X1;
            }
          }

          &:not(.component-dropdown__dropdown-menu__items__item--type-header):not(.component-dropdown__dropdown-menu__items__item--type-disabled) {
            a:hover {
              background: $secondary_DARKEN_X1;
            }
          }
        }
      }
    }
  }

  &.component-dropdown--color-info {
    & > .component-dropdown__dropdown-menu {
      & > .component-dropdown__dropdown-menu__items {
        background: $info;
        border-color: $info_DARKEN_X1;

        & > .component-dropdown__dropdown-menu__items__item {
          a {
            color: $info_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-header {
            a {
              color: $info_text_color_DARKEN_X1;
            }
          }

          &.component-dropdown__dropdown-menu__items__item--highlighted {
            background: $info_DARKEN_X1 !important;
            a:hover {
              background: $info_DARKEN_X1 !important;
            }
            color: $info_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-divider {
            background: $info_DARKEN_X3;
          }

          &.component-dropdown__dropdown-menu__items__item--type-disabled {
            background: $info_LIGHTEN_X1;
            a {
              color: $info_text_color_DARKEN_X1;
            }
          }

          &:not(.component-dropdown__dropdown-menu__items__item--type-header):not(.component-dropdown__dropdown-menu__items__item--type-disabled) {
            a:hover {
              background: $info_DARKEN_X1;
            }
          }
        }
      }
    }
  }

  &.component-dropdown--color-success {
    & > .component-dropdown__dropdown-menu {
      & > .component-dropdown__dropdown-menu__items {
        background: $success;
        border-color: $success_DARKEN_X1;

        & > .component-dropdown__dropdown-menu__items__item {
          a {
            color: $success_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-header {
            a {
              color: $success_text_color_DARKEN_X1;
            }
          }

          &.component-dropdown__dropdown-menu__items__item--highlighted {
            background: $success_DARKEN_X1 !important;
            a:hover {
              background: $success_DARKEN_X1 !important;
            }
            color: $success_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-divider {
            background: $success_DARKEN_X3;
          }

          &.component-dropdown__dropdown-menu__items__item--type-disabled {
            background: $success_LIGHTEN_X1;
            a {
              color: $success_text_color_DARKEN_X1;
            }
          }

          &:not(.component-dropdown__dropdown-menu__items__item--type-header):not(.component-dropdown__dropdown-menu__items__item--type-disabled) {
            a:hover {
              background: $success_DARKEN_X1;
            }
          }
        }
      }
    }
  }

  &.component-dropdown--color-danger {
    & > .component-dropdown__dropdown-menu {
      & > .component-dropdown__dropdown-menu__items {
        background: $danger;
        border-color: $danger_DARKEN_X1;

        & > .component-dropdown__dropdown-menu__items__item {
          a {
            color: $danger_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-header {
            a {
              color: $danger_text_color_DARKEN_X1;
            }
          }

          &.component-dropdown__dropdown-menu__items__item--highlighted {
            background: $danger_DARKEN_X1 !important;
            a:hover {
              background: $danger_DARKEN_X1 !important;
            }
            color: $danger_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-divider {
            background: $danger_DARKEN_X3;
          }

          &.component-dropdown__dropdown-menu__items__item--type-disabled {
            background: $danger_LIGHTEN_X1;
            a {
              color: $danger_text_color_DARKEN_X1;
            }
          }

          &:not(.component-dropdown__dropdown-menu__items__item--type-header):not(.component-dropdown__dropdown-menu__items__item--type-disabled) {
            a:hover {
              background: $danger_DARKEN_X1;
            }
          }
        }
      }
    }
  }

  &.component-dropdown--color-warning {
    & > .component-dropdown__dropdown-menu {
      & > .component-dropdown__dropdown-menu__items {
        background: $warning;
        border-color: $warning_DARKEN_X1;

        & > .component-dropdown__dropdown-menu__items__item {
          a {
            color: $warning_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-header {
            a {
              color: $warning_text_color_DARKEN_X1;
            }
          }

          &.component-dropdown__dropdown-menu__items__item--highlighted {
            background: $warning_DARKEN_X1 !important;
            a:hover {
              background: $warning_DARKEN_X1 !important;
            }
            color: $warning_text_color;
          }

          &.component-dropdown__dropdown-menu__items__item--type-divider {
            background: $warning_DARKEN_X3;
          }

          &.component-dropdown__dropdown-menu__items__item--type-disabled {
            background: $warning_LIGHTEN_X1;
            a {
              color: $warning_text_color_DARKEN_X1;
            }
          }

          &:not(.component-dropdown__dropdown-menu__items__item--type-header):not(.component-dropdown__dropdown-menu__items__item--type-disabled) {
            a:hover {
              background: $warning_DARKEN_X1;
            }
          }
        }
      }
    }
  }

  &.component-dropdown--placement-left {
    .component-dropdown__dropdown-menu__items
      > .component-dropdown__dropdown-menu__items__item {
      &:hover {
        & > .component-dropdown__dropdown-menu__items__item__submenu {
          & > .component-dropdown__dropdown-menu__items {
            display: block;
            left: 100%;
            top: 0;
          }
        }
      }
    }
  }

  &.component-dropdown--placement-right {
    & > .component-dropdown__dropdown-menu {
      & > .component-dropdown__dropdown-menu__items {
        left: auto;
        right: 0;
      }
    }
    .component-dropdown__dropdown-menu__items
      > .component-dropdown__dropdown-menu__items__item {
      &:hover {
        & > .component-dropdown__dropdown-menu__items__item__submenu {
          & > .component-dropdown__dropdown-menu__items {
            display: block;
            left: auto;
            right: 100%;
            top: 0;
          }
        }
      }
      .component-dropdown__dropdown-menu__items__item__sub-menu-icon {
        position: absolute;
        left: 0;
        right: auto;
        top: 50% !important;
        margin-top: -0.5em;
        transform: rotateY(180deg);
      }
    }
  }
}
