@import "../variables";

.login__login-container-outer {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -200px;
  text-align: center;
  line-height: 400px;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  background-color: $color10;
}

.login__login-container-inner {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  position: relative;
}

.login__error-message {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
}
