@import "../variables";

.component-page-header {
  border-bottom: $COMPONENT_BORDER;
  background-color: #fff;
  margin-bottom: #{$COMPONENT_MARGIN_SINGLE};
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;

  & > .component-page-header__content {
    position: relative;
    background-color: inherit;
    display: flex;
    align-items: center;

    & > .component-page-header__content__title {
      display: inline-block;
      position: relative;
      width: 50%;

      & > h2 {
        margin: 0;
      }
    }

    & > .component-page-header__content__actions {
      display: flex;
      position: relative;
      width: 50%;
      align-items: center;
      justify-content: flex-end;
    }
  }

  & > .component-page-header__breadcrumbs--outer {
    & > .component-page-header__breadcrumbs--inner {
      & > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-content: center;

        & > li {
          display: flex;
          align-items: center;

          &:not(:first-child) {
            &:before {
              content: "/\00a0";
              padding: 0 5px;
              color: #333;
            }
          }

          &:last-child {
            & > a {
              color: $default;
              cursor: default;
            }
          }

          & > a {
            padding: 0 7px;
            color: #333;
            font-size: 13px;
            display: flex;
            align-items: center;

            &:hover {
              text-decoration: none;
            }

            & > span {
              & > svg {
                font-size: 13px;
                margin-right: 7px;
                margin-top: -3px;
              }
            }
          }
        }
      }
    }
  }

  &.component-page-header--size-lg {
    & > .component-page-header__content {
      padding: 42px 46px 42px 20px;

      & > .component-page-header__content__title {
        & > h2 {
          font-size: 31px;

          svg:first-child {
            margin-left: -15px;
          }
        }
      }

      & > .component-page-header__content__actions {
        & > * {
          margin-left: $COMPONENT_ELEMENT_MARGIN_LG;
        }
      }
    }

    & > .component-page-header__breadcrumbs--outer {
      position: relative;
      padding: 0 13px;
      border-top: $COMPONENT_BORDER;

      & > .component-page-header__breadcrumbs--inner {
        & > ul {
          height: 47px;

          & > li {
            & > a {
              font-size: $COMPONENT_ELEMENT_FONT_SIZE_LG;
            }

            & > .component-dropdown {
              & > .component-dropdown__trigger {
                & > .component-button {
                  font-size: $COMPONENT_ELEMENT_FONT_SIZE_LG;
                }
              }
            }
          }
        }
      }
    }
  }

  &.component-page-header--size-md {
    & > .component-page-header__content {
      padding: 32px 36px 32px 20px;

      & > .component-page-header__content__title {
        & > h2 {
          font-size: 23px;
        }
      }

      & > .component-page-header__content__actions {
        & > * {
          margin-left: $COMPONENT_ELEMENT_MARGIN_MD;
        }
      }
    }

    & > .component-page-header__breadcrumbs--outer {
      position: relative;
      padding: 0 13px;
      border-top: $COMPONENT_BORDER;
      background: $COMPONENT_BACKGROUND_DARKER;

      & > .component-page-header__breadcrumbs--inner {
        & > ul {
          height: 41px;

          & > li {
            & > a {
              font-size: $COMPONENT_ELEMENT_FONT_SIZE_MD;
            }

            & > .component-dropdown {
              & > .component-dropdown__trigger {
                & > .component-button {
                  font-size: $COMPONENT_ELEMENT_FONT_SIZE_MD;
                }
              }
            }
          }
        }
      }
    }
  }

  &.component-page-header--size-sm {
    & > .component-page-header__content {
      padding: 20px 22px 20px 24px;

      & > .component-page-header__content__title {
        & > h2 {
          font-size: 18px;

          svg:first-child {
            margin-left: -9px;
          }
        }
      }

      & > .component-page-header__content__actions {
        & > * {
          margin-left: $COMPONENT_ELEMENT_MARGIN_SM;
        }
      }
    }

    & > .component-page-header__breadcrumbs--outer {
      position: relative;
      padding: 0 13px;
      border-top: $COMPONENT_BORDER;
      background: $COMPONENT_BACKGROUND_DARKER;

      & > .component-page-header__breadcrumbs--inner {
        & > ul {
          height: 30px;

          & > li {
            & > a {
              font-size: $COMPONENT_ELEMENT_FONT_SIZE_SM;
            }

            & > .component-dropdown {
              & > .component-dropdown__trigger {
                & > .component-button {
                  font-size: $COMPONENT_ELEMENT_FONT_SIZE_SM;
                }
              }
            }
          }
        }
      }
    }
  }
}
