@import "../variables";

.component-progress {
  display: flex;
  overflow: hidden;
  font-size: 0.75em;
  border-radius: 0.25em;

  & > .component-progress__progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    transition: width 0.6s ease;
  }

  &.component-progress--color-default {
    background-color: $default;
    & > .component-progress__progress {
      background-color: $default_DARKEN_X2;
    }
  }

  &.component-progress--color-primary {
    background-color: $primary;
    & > .component-progress__progress {
      background-color: $primary_DARKEN_X2;
    }
  }

  &.component-progress--color-secondary {
    background-color: $secondary;
    & > .component-progress__progress {
      background-color: $secondary_DARKEN_X2;
    }
  }

  &.component-progress--color-info {
    background-color: $info;
    & > .component-progress__progress {
      background-color: $info_DARKEN_X2;
    }
  }

  &.component-progress--color-warning {
    background-color: $warning;
    & > .component-progress__progress {
      background-color: $warning_DARKEN_X2;
    }
  }

  &.component-progress--color-danger {
    background-color: $danger;
    & > .component-progress__progress {
      background-color: $danger_DARKEN_X2;
    }
  }

  &.component-progress--color-success {
    background-color: $success;
    & > .component-progress__progress {
      background-color: $success_DARKEN_X2;
    }
  }

  &.component-progress--size-lg {
    height: 1.5em;
  }

  &.component-progress--size-md {
    height: 1em;
  }

  &.component-progress--size-sm {
    height: 0.4em;
  }
}
