@import "../variables";

.component-table {
  display: flex;
  flex-direction: column;

  & > .component-table__thead {
    width: 100%;

    & > .component-table__tr {
      margin-bottom: 0;

      &.component-table__tr--color-primary {
        color: $primary_text_color;
        background: $primary;
      }

      &.component-table__tr--color-secondary {
        color: $secondary_text_color;
        background: $secondary;
      }

      &.component-table__tr--color-info {
        color: $info_text_color;
        background: $info;
      }

      &.component-table__tr--color-danger {
        color: $danger_text_color;
        background: $danger;
      }

      &.component-table__tr--color-warning {
        color: $warning_text_color;
        background: $warning;
      }

      &.component-table__tr--color-success {
        color: $primary_text_color;
        background: $primary;
      }

      & > .component-table__thead__th {
        text-align: left;
        font-weight: bold;
        font-size: 1.16em;
        padding: $COMPONENT_PADDING_MD;
      }
    }
  }

  & > .component-table__tbody {
    width: 100%;

    & > .component-table__tr {
      margin-bottom: 0;

      &.component-table__tr--color-primary {
        color: $primary_text_color;
        background: $primary;
      }

      &.component-table__tr--color-secondary {
        color: $secondary_text_color;
        background: $secondary;
      }

      &.component-table__tr--color-info {
        color: $info_text_color;
        background: $info;
      }

      &.component-table__tr--color-danger {
        color: $danger_text_color;
        background: $danger;
      }

      &.component-table__tr--color-warning {
        color: $warning_text_color;
        background: $warning;
      }

      &.component-table__tr--color-success {
        color: $success_text_color;
        background: $success;
      }

      & > .component-table__tbody__td {
        text-align: left;
        padding: $COMPONENT_PADDING_MD;

        &.component-table__tbody__td--align-center {
          text-align: center;
        }
      }
    }
  }

  &.component-table--bordered {
    & > .component-table__thead {
      & > .component-table__tr {
        &:first-child {
          & > .component-table__thead__th {
            border-top: 1px solid $default;
          }
        }

        &:last-child {
          & > .component-table__thead__th {
            border-bottom: 0 none;
          }
        }

        & > .component-table__thead__th {
          //border-right: 1px solid $default;
          border-bottom: 1px solid $default;

          &:first-child {
            //border-left: 1px solid $default;
          }
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        &:first-child {
          & > .component-table__tbody__td {
            border-top: 1px solid $default;
          }
        }

        & > .component-table__tbody__td {
          //border-right: 1px solid $default;
          border-bottom: 1px solid $default;

          &:first-child {
            //border-left: 1px solid $default;
          }
        }
      }
    }
  }

  &.component-table--striped {
    & > .component-table__tbody {
      & > .component-table__tr:nth-child(2n + 1) {
        & > .component-table__tbody__td {
          background: $default_LIGHTEN_X1;
        }
      }
    }
  }

  &.component-table--size-md {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          padding: $COMPONENT_PADDING_MD;
          font-size: $COMPONENT_FONT_SIZE_MD;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          padding: $COMPONENT_PADDING_MD;
          font-size: $COMPONENT_FONT_SIZE_MD;
        }
      }
    }
  }

  &.component-table--size-sm {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          padding: $COMPONENT_PADDING_SM;
          font-size: $COMPONENT_FONT_SIZE_SM;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          padding: $COMPONENT_PADDING_SM;
          font-size: $COMPONENT_FONT_SIZE_SM;
        }
      }
    }
  }

  &.component-table--size-lg {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          padding: $COMPONENT_PADDING_LG;
          font-size: $COMPONENT_FONT_SIZE_LG;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          padding: $COMPONENT_PADDING_LG;
          font-size: $COMPONENT_FONT_SIZE_LG;
        }
      }
    }
  }

  &.component-table--color-primary {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          background: $primary;
          color: $primary_text_color;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          background: $primary_LIGHTEN_X2;
          color: $primary_text_color;
        }
      }
    }

    &.component-table--bordered {
      & > .component-table__thead {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__thead__th {
              border-top: 1px solid $primary;
            }
          }

          &:last-child {
            & > .component-table__thead__th {
              border-bottom: 0 none;
            }
          }

          & > .component-table__thead__th {
            border-bottom: 1px solid $primary;
          }
        }
      }

      & > .component-table__tbody {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__tbody__td {
              border-top: 1px solid $primary;
            }
          }

          & > .component-table__tbody__td {
            border-bottom: 1px solid $primary;
          }
        }
      }
    }

    &.component-table--striped {
      & > .component-table__tbody {
        & > .component-table__tr:nth-child(2n + 1) {
          & > .component-table__tbody__td {
            background: $primary_LIGHTEN_X1;
          }
        }
      }
    }
  }

  &.component-table--color-secondary {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          background: $secondary;
          color: $secondary_text_color;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          background: $secondary_LIGHTEN_X2;
          color: $secondary_text_color;
        }
      }
    }

    &.component-table--bordered {
      & > .component-table__thead {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__thead__th {
              border-top: 1px solid $secondary;
            }
          }

          &:last-child {
            & > .component-table__thead__th {
              border-bottom: 0 none;
            }
          }

          & > .component-table__thead__th {
            border-bottom: 1px solid $secondary;
          }
        }
      }

      & > .component-table__tbody {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__tbody__td {
              border-top: 1px solid $secondary;
            }
          }

          & > .component-table__tbody__td {
            border-bottom: 1px solid $secondary;
          }
        }
      }
    }

    &.component-table--striped {
      & > .component-table__tbody {
        & > .component-table__tr:nth-child(2n + 1) {
          & > .component-table__tbody__td {
            background: $secondary_LIGHTEN_X1;
          }
        }
      }
    }
  }

  &.component-table--color-danger {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          background: $danger;
          color: $danger_text_color;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          background: $danger_LIGHTEN_X2;
          color: $danger_text_color;
        }
      }
    }

    &.component-table--bordered {
      & > .component-table__thead {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__thead__th {
              border-top: 1px solid $danger;
            }
          }

          &:last-child {
            & > .component-table__thead__th {
              border-bottom: 0 none;
            }
          }

          & > .component-table__thead__th {
            border-bottom: 1px solid $danger;
          }
        }
      }

      & > .component-table__tbody {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__tbody__td {
              border-top: 1px solid $danger;
            }
          }

          & > .component-table__tbody__td {
            border-bottom: 1px solid $danger;
          }
        }
      }
    }

    &.component-table--striped {
      & > .component-table__tbody {
        & > .component-table__tr:nth-child(2n + 1) {
          & > .component-table__tbody__td {
            background: $danger_LIGHTEN_X1;
          }
        }
      }
    }
  }

  &.component-table--color-warning {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          background: $warning;
          color: $warning_text_color;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          background: $warning_LIGHTEN_X2;
          color: $warning_text_color;
        }
      }
    }

    &.component-table--bordered {
      & > .component-table__thead {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__thead__th {
              border-top: 1px solid $warning;
            }
          }

          &:last-child {
            & > .component-table__thead__th {
              border-bottom: 0 none;
            }
          }

          & > .component-table__thead__th {
            border-bottom: 1px solid $warning;
          }
        }
      }

      & > .component-table__tbody {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__tbody__td {
              border-top: 1px solid $warning;
            }
          }

          & > .component-table__tbody__td {
            border-bottom: 1px solid $warning;
          }
        }
      }
    }

    &.component-table--striped {
      & > .component-table__tbody {
        & > .component-table__tr:nth-child(2n + 1) {
          & > .component-table__tbody__td {
            background: $warning_LIGHTEN_X1;
          }
        }
      }
    }
  }

  &.component-table--color-success {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          background: $success;
          color: $success_text_color;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          background: $success_LIGHTEN_X2;
          color: $success_text_color;
        }
      }
    }

    &.component-table--bordered {
      & > .component-table__thead {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__thead__th {
              border-top: 1px solid $success;
            }
          }

          &:last-child {
            & > .component-table__thead__th {
              border-bottom: 0 none;
            }
          }

          & > .component-table__thead__th {
            border-bottom: 1px solid $success;
          }
        }
      }

      & > .component-table__tbody {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__tbody__td {
              border-top: 1px solid $success;
            }
          }

          & > .component-table__tbody__td {
            border-bottom: 1px solid $success;
          }
        }
      }
    }

    &.component-table--striped {
      & > .component-table__tbody {
        & > .component-table__tr:nth-child(2n + 1) {
          & > .component-table__tbody__td {
            background: $success_LIGHTEN_X1;
          }
        }
      }
    }
  }

  &.component-table--color-info {
    & > .component-table__thead {
      & > .component-table__tr {
        & > .component-table__thead__th {
          background: $info;
          color: $info_text_color;
        }
      }
    }

    & > .component-table__tbody {
      & > .component-table__tr {
        & > .component-table__tbody__td {
          background: $info_LIGHTEN_X2;
          color: $info_text_color;
        }
      }
    }

    &.component-table--bordered {
      & > .component-table__thead {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__thead__th {
              border-top: 1px solid $info;
            }
          }

          &:last-child {
            & > .component-table__thead__th {
              border-bottom: 0 none;
            }
          }

          & > .component-table__thead__th {
            border-bottom: 1px solid $info;
          }
        }
      }

      & > .component-table__tbody {
        & > .component-table__tr {
          &:first-child {
            & > .component-table__tbody__td {
              border-top: 1px solid $info;
            }
          }

          & > .component-table__tbody__td {
            border-bottom: 1px solid $info;
          }
        }
      }
    }

    &.component-table--striped {
      & > .component-table__tbody {
        & > .component-table__tr:nth-child(2n + 1) {
          & > .component-table__tbody__td {
            background: $info_LIGHTEN_X1;
          }
        }
      }
    }
  }
}
