@import "../variables";

.component-tooltip {
  .component-tooltip__element {
    display: inline-block;
  }
  .component-tooltip__tooltip {
    position: fixed;
    z-index: 20000;
    background: #000;
    color: #fff;
    border-radius: $COMPONENT_BORDER_RADIUS;
  }

  &.component-tooltip--size-sm {
    .component-tooltip__tooltip {
      padding: $COMPONENT_PADDING_SM;
      font-size: $COMPONENT_FONT_SIZE_SM;
    }
  }

  &.component-tooltip--size-md {
    .component-tooltip__tooltip {
      padding: $COMPONENT_PADDING_MD;
      font-size: $COMPONENT_FONT_SIZE_MD;
    }
  }

  &.component-tooltip--size-lg {
    .component-tooltip__tooltip {
      padding: $COMPONENT_PADDING_LG;
      font-size: $COMPONENT_FONT_SIZE_LG;
    }
  }

  &:not(.component-tooltip--outline) {
    &.component-tooltip--color-default {
      .component-tooltip__tooltip {
        background: $default;
        color: $default_text_color;
        border: 1px solid $default_DARKEN_X3;
      }
    }
    &.component-tooltip--color-primary {
      .component-tooltip__tooltip {
        background: $primary;
        color: $primary_text_color;
        border: 1px solid $primary_DARKEN_X3;
      }
    }
    &.component-tooltip--color-secondary {
      .component-tooltip__tooltip {
        background: $secondary;
        color: $secondary_text_color;
        border: 1px solid $secondary_DARKEN_X3;
      }
    }
    &.component-tooltip--color-info {
      .component-tooltip__tooltip {
        background: $info;
        color: $info_text_color;
        border: 1px solid $info_DARKEN_X3;
      }
    }
    &.component-tooltip--color-warning {
      .component-tooltip__tooltip {
        background: $warning;
        color: $warning_text_color;
        border: 1px solid $warning_DARKEN_X3;
      }
    }
    &.component-tooltip--color-danger {
      .component-tooltip__tooltip {
        background: $danger;
        color: $danger_text_color;
        border: 1px solid $danger_DARKEN_X3;
      }
    }
    &.component-tooltip--color-success {
      .component-tooltip__tooltip {
        background: $success;
        color: $success_text_color;
        border: 1px solid $success_DARKEN_X3;
      }
    }
  }

  &.component-tooltip--outline {
    &.component-tooltip--color-default {
      .component-tooltip__tooltip {
        background: #fff;
        border: 1px solid #000;
        color: #000;
      }
    }
    &.component-tooltip--color-primary {
      .component-tooltip__tooltip {
        background: #fff;
        border: 1px solid $primary;
        color: $primary;
      }
    }
    &.component-tooltip--color-secondary {
      .component-tooltip__tooltip {
        background: #fff;
        border: 1px solid $secondary;
        color: $secondary;
      }
    }
    &.component-tooltip--color-info {
      .component-tooltip__tooltip {
        background: #fff;
        border: 1px solid $info;
        color: $info;
      }
    }
    &.component-tooltip--color-warning {
      .component-tooltip__tooltip {
        background: #fff;
        border: 1px solid $warning;
        color: $warning;
      }
    }
    &.component-tooltip--color-danger {
      .component-tooltip__tooltip {
        background: #fff;
        border: 1px solid $danger;
        color: $danger;
      }
    }
    &.component-tooltip--color-success {
      .component-tooltip__tooltip {
        background: #fff;
        border: 1px solid $success;
        color: $success;
      }
    }
  }
}
