@import "../variables";

.component-typography {
  font-size: $DEFAULT_FONT_SIZE;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    small {
      color: $default;
    }
  }
  mark {
    padding: 0.2em;
    background-color: #fcf8e3;
  }
  small {
    font-size: 80%;
    font-weight: normal;
  }
  blockquote {
    padding-left: 20px;
    border-left: 5px solid $primary;
    margin-bottom: 1em;
    p {
      margin-bottom: 5px;
      font-size: 1.5em;
    }
    footer {
      &:before {
        content: "\2014 \00A0";
      }
      display: block;
      color: darken($default, 20%);
    }
  }

  .text-default {
    color: $default;
  }
  .text-primary {
    color: $primary;
  }
  .text-secondary {
    color: $secondary;
  }
  .text-info {
    color: $info;
  }
  .text-warning {
    color: $warning;
  }
  .text-danger {
    color: $danger;
  }
  .text-success {
    color: $success;
  }
}
