@import "../variables";

.layout {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  min-height: calc(100vh - #{$HEADER_DESKTOP_HEIGHT});

  &.layout--blank-page {
    background-color: $SIDEBAR_BACKGROUND_COLOR;
  }

  .layout__content {
    margin-top: 60px;
  }

  .layout__sidebar {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    top: $HEADER_DESKTOP_HEIGHT;
    width: $SIDEBAR_DESKTOP_WIDTH;
    background-color: $SIDEBAR_BACKGROUND_COLOR;
    transition: width 0.23s ease;

    .layout__sidebar__content {
      height: 100%;
      position: relative;

      & > div {
        & > div:nth-child(2) {
          display: none;
        }

        & > div:nth-child(3) {
          div {
            background-color: $primary !important;
          }
        }
      }

      .layout__sidebar__content__navigation {
        display: block;
        border-top: 1px solid lighten($logoBackgroundColor, 10);

        .layout__sidebar__content__navigation__links__links {
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: calc(100% - 10px);

          .layout__sidebar__content__navigation__links__links__header {
            h3 {
              color: #9ba7ae;
              margin: 15px 20px;
              margin-bottom: 0;
              font-size: 12px;
              border-bottom: 1px solid #636c72;
              padding-bottom: 5px;
            }
          }

          .layout__sidebar__content__navigation__links__link {
            a {
              box-sizing: border-box;
              display: block;
              cursor: pointer;
              text-decoration: none;
              outline: none;
              font-size: 13px;
              position: relative;
              vertical-align: middle;
              z-index: 1;
              height: 36px;
              line-height: 36px;
              min-width: 88px;
              color: #cacaca;
              text-align: left;

              &:hover {
                color: #fff;

                &
                  > div
                  > .layout__sidebar__content__navigation__links__link__caption {
                  padding-left: 5px;
                  transition: padding-left 0.3s ease;
                }
              }

              & > div {
                height: 36px;
                line-height: 36px;
                padding: 0 20px;

                .layout__sidebar__content__navigation__links__link__icon {
                  width: 20px;
                  text-align: center;
                  margin-right: 12px;
                  display: inline-block;
                  font-size: 17px;
                  font-family: Arial, Helvetica, sans-serif;
                }

                .layout__sidebar__content__navigation__links__link__caption {
                  display: inline-block;
                  font-size: 13px;
                }

                .layout__sidebar__content__navigation__links__link__nested {
                  float: right;
                }
              }
            }

            &.layout__sidebar__content__navigation__links__link--active {
              a {
                font-weight: bold;
                color: #fff;

                &
                  > div
                  > .layout__sidebar__content__navigation__links__link__caption {
                  padding-left: 5px;
                }
              }
            }

            & > .layout__sidebar__content__navigation__links__links {
              padding: $COMPONENT_PADDING_SM;
              background: lighten($SIDEBAR_BACKGROUND_COLOR, 10);
              margin-left: 20px;
              width: calc(100% - 40px);
              border-radius: $COMPONENT_BORDER_RADIUS;
            }
          }
        }
      }
    }

    .layout__sidebar__sidebar-tabs {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      z-index: 300;

      .layout__sidebar__tabs {
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            font-size: 29px;
            background: $logoBackgroundColor;
            padding: 8px 15px;
            display: inline-block;
            color: #fff;
            cursor: pointer;
            border-right: 1px solid $SIDEBAR_BACKGROUND_COLOR;
            position: relative;

            &.layout__sidebar__sidebar-tab-active {
              background-color: lighten($logoBackgroundColor, 20) !important;
            }
          }
        }
      }

      .layout__sidebar__tabs-content {
        background: $logoBackgroundColor;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -260px;
        height: 260px;
        padding: 10px;
      }

      &.layout__sidebar--is-tab-active {
        bottom: 260px;
      }
    }

    &.layout__sidebar--floating {
      width: 70px;

      &:not(.layout__sidebar--expanded) {
        .layout__sidebar__content__navigation {
          .layout__sidebar__content__navigation__links__links {
            .layout__sidebar__content__navigation__links__links__header {
              span {
                visibility: hidden;
              }
            }

            .layout__sidebar__content__navigation__links__link {
              a {
                div {
                  .layout__sidebar__content__navigation__links__link__caption {
                    visibility: hidden;
                  }
                  .layout__sidebar__content__navigation__links__link__nested {
                    display: none;
                  }
                }
              }

              & > .layout__sidebar__content__navigation__links__links {
                padding-left: 10px;
                background: lighten($SIDEBAR_BACKGROUND_COLOR, 10);
                margin: 0;
                margin-left: 10px;
                margin-right: 5px;
                border-radius: $COMPONENT_BORDER_RADIUS;
                width: auto;

                &
                  > .layout__sidebar__content__navigation__links__link
                  > a
                  > div {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    &.layout__sidebar--expanded {
      width: $SIDEBAR_DESKTOP_WIDTH;
    }
  }

  & > .layout__header {
    height: $HEADER_DESKTOP_HEIGHT;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: $mainBackground;

    & > .layout__header__logo {
      width: $SIDEBAR_DESKTOP_WIDTH;
      transition: width 0.23s ease;
      background-color: $primary;
      padding: 0 18px;
      display: flex;
      align-items: center;
      height: 100%;

      a {
        font-size: 20px;
        margin-bottom: 0;
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: "Spectral", serif;

        .layout__header__logo__brand {
          font-size: 15px;
          display: inline-block;
          margin: 0;
          vertical-align: text-top;
          font-weight: 500;
          min-width: 170px;

          sub {
            margin-left: 5px;
          }
        }
      }

      .layout__header__logo__toggle {
        font-size: 25px;
        cursor: pointer;
      }
    }

    & > .layout__header__bar {
      width: calc(100% - #{$SIDEBAR_DESKTOP_WIDTH});
      background: $SIDEBAR_BACKGROUND_COLOR;
      height: $HEADER_DESKTOP_HEIGHT;
      line-height: $HEADER_DESKTOP_HEIGHT;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
      align-content: space-between;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;

      padding: 0 15px;
      font-size: 30px;

      & > .layout__header__bar__left {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
      }

      & > .layout__header__bar__right {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;

        text-align: right;

        & > .layout__header__bar__right__element {
          &.layout__header__bar__right__element--notifications {
            display: inline-block;

            & > .layout__header__bar__right__element--notifications__button {
              cursor: pointer;
              width: 45px;
              text-align: center;
              position: relative;

              & > .component-badge {
                font-size: 0.5rem;
                position: absolute;
                right: 10px;
                top: 10px;
              }
            }

            & > .layout__header__bar__right__element--notifications__expanded {
              text-align: left;
              position: fixed;
              right: 10px;
              top: 70px;
              width: 300px;
              line-height: 1;
              border: 1px solid $default_DARKEN_X3;
              background: $default_LIGHTEN_X3;
              border-radius: $COMPONENT_BORDER_RADIUS;
              -webkit-box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
              box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
              height: 400px;

              ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                & > li {
                  padding: $COMPONENT_PADDING_LG;
                  cursor: pointer;

                  &:hover {
                    background: $default_LIGHTEN_X1;
                  }

                  &.layout__header__bar__right__element--notifications__expanded__item--color-primary {
                    background: $primary;
                    &:hover {
                      background: $primary_LIGHTEN_X1;
                    }
                    & > a {
                      color: $primary_text_color;
                    }
                  }

                  &.layout__header__bar__right__element--notifications__expanded__item--color-secondary {
                    background: $secondary;
                    &:hover {
                      background: $secondary_LIGHTEN_X1;
                    }
                    & > a {
                      color: $secondary_text_color;
                    }
                  }

                  &.layout__header__bar__right__element--notifications__expanded__item--color-warning {
                    background: $warning;
                    &:hover {
                      background: $warning_LIGHTEN_X1;
                    }
                    & > a {
                      color: $warning_text_color;
                    }
                  }

                  &.layout__header__bar__right__element--notifications__expanded__item--color-info {
                    background: $info;
                    &:hover {
                      background: $info_LIGHTEN_X1;
                    }
                    & > a {
                      color: $info_text_color;
                    }
                  }

                  &.layout__header__bar__right__element--notifications__expanded__item--color-danger {
                    background: $danger;
                    &:hover {
                      background: $danger_LIGHTEN_X1;
                    }
                    & > a {
                      color: $danger_text_color;
                    }
                  }

                  &.layout__header__bar__right__element--notifications__expanded__item--color-success {
                    background: $success;
                    &:hover {
                      background: $success_LIGHTEN_X1;
                    }
                    & > a {
                      color: $success_text_color;
                    }
                  }

                  & > a {
                    display: flex;
                    text-decoration: none !important;
                    line-height: 25px;

                    &
                      > .layout__header__bar__right__element--notifications__expanded__item__icon {
                      margin-left: -10px;
                      margin-right: 15px;
                      font-size: 25px;

                      svg {
                        vertical-align: middle;
                      }
                    }

                    &
                      > .layout__header__bar__right__element--notifications__expanded__item__content {
                      &
                        > .layout__header__bar__right__element--notifications__expanded__item__content__title {
                        display: block;
                        font-size: 18px;
                        font-weight: bold;
                      }
                      &
                        > .layout__header__bar__right__element--notifications__expanded__item__content__text {
                        line-height: 13px;
                        font-size: 13px;
                      }
                    }
                  }
                }
              }

              &
                > .layout__header__bar__right__element--notifications__expanded__view-all {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 42px;
                text-align: center;
                font-size: 17px;
                border-top: 1px solid $default_DARKEN_X1;
                line-height: 42px;

                a {
                  display: block;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.layout__header--floating {
      & > .layout__header__logo {
        width: 70px;
        text-align: center;
        svg {
          margin-left: 4px;
        }

        & > a {
          display: none;
        }
      }

      & > .layout__header__bar {
        width: calc(100% - #{$HEADER_DESKTOP_HEIGHT});
      }
    }

    /*&.layout__header--expanded {
      width: $SIDEBAR_DESKTOP_WIDTH;

      & > a {
        display: flex;
      }
    }*/
  }

  & > .layout__container {
    margin-left: $SIDEBAR_DESKTOP_WIDTH;
    position: relative;
    display: flex;
    height: calc(100% - #{$HEADER_DESKTOP_HEIGHT});
    transition: margin-left 0.5s ease;
    z-index: 100;
    margin-top: $HEADER_DESKTOP_HEIGHT;

    & > .layout__container__content {
      flex: 1;
      z-index: 200;
      display: flex;
      transition: margin-bottom 0.5s ease;

      & > .layout__container__content__header {
        height: $HEADER_DESKTOP_HEIGHT;
        line-height: $HEADER_DESKTOP_HEIGHT;
        background: $SIDEBAR_BACKGROUND_COLOR;
        position: fixed;
        left: $SIDEBAR_DESKTOP_WIDTH;
        right: 0;
        top: 0;
        z-index: 3000;

        & > div {
          height: 100%;
        }

        & > h1 {
          display: inline-block;
          float: right;
          height: 60px;
          line-height: 60px;
          font-size: 18px;
          padding: 0 8px;
        }
      }

      & > .layout__container__content__content {
        padding: 15px;
        animation--name: fadeIn;
        animation--duration: 0.3s;
        z-index: 10;
        flex: 1;
        transition: margin-top 0.5s ease;

        & > .component-section:last-child {
          margin-bottom: $FOOTER_DESKTOP_HEIGHT;
        }
      }
    }

    & > .layout__container__footer {
      position: fixed;
      left: $SIDEBAR_DESKTOP_WIDTH;
      bottom: 0;
      right: 0;
      padding: 13px;
      border-top: $COMPONENT_BORDER;
      font-size: 11px;
      line-height: 17px;
      color: #636c72;
      height: $FOOTER_DESKTOP_HEIGHT;
      background: #fff;
    }

    &.layout__container--floating {
      margin-left: $HEADER_DESKTOP_HEIGHT;
    }
  }

  &.layout--disable-sidebar {
    .layout__sidebar {
      display: none;
    }

    .layout__container {
      margin-left: 0;

      .layout__container__footer {
        left: 0;
      }
    }
  }

  &.layout--disable-header {
    .layout__header {
      display: none;
    }

    .layout__container {
      .layout__container__content {
        .layout__container__content__header {
          display: none;
        }

        .layout__container__content__content {
          margin-top: 0;
        }
      }
    }
  }

  &.layout--disable-footer {
    .layout__container {
      .layout__container__content {
        margin-bottom: 0;
      }

      .layout__container__footer {
        display: none;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
