.sidebar-tab-icon__icon-box {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 40%;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  vertical-align: top;
}

.sidebar-tab-icon__icon-box.sidebar-tab-icon__icon-box-hover {
  .sidebar-tab-icon__icon-box-icon {
    font-size: 60px;
  }
}

.sidebar-tab-icon__icon-box-icon {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  display: inline-block;
  line-height: 80px;
  font-size: 55px;
  text-align: center;
  color: #fff;
  position: relative;
}

.sidebar-tab-icon__icon-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  color: #fff;
}

.sidebar-tab-icon__icon-box-caption {
  display: inline-block;
  color: $SIDEBAR_BACKGROUND_COLOR;
  font-size: 11px;
}
